html, body {
    padding: 0;
    margin: 0;
    background: #F1F1F1;
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    width: 700px;
    margin: 10px auto;
    background: #FFF;
    padding: 10px;
}

.container h1 {
    text-transform: uppercase;
    font-size: 28px;
}

.container ul.tab {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.container ul.tab li {
    background: #B14C38;
    padding: 10px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    width: 80px;
    text-align: center;
}

.container ul.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container ul.product-list li {
    cursor: pointer;
}

.container ul.product-list li img {
    width: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#trend, #new, #best-sell {
    display: none;
    -webkit-animation: slide-down 2s ease-out;
    -moz-animation: slide-down 2s ease-out;
    -webkit-animation: slide-down 2s ease-in;
    -moz-animation: slide-down 2s ease-in;
}

@-webkit-keyframes slide-down {
    0% { opacity: 0;}
    20% {opacity: 1;}
}

#trend {
    background: #EE4D2D;
    display: block;
}

.container ul.tab li.active {
    background-color: #EE4D2D;
}
