*{
    margin: 0;
    padding: 0px;
}

ul {
    margin-top: 28px;
    margin-left: 50px;
}

ul li {
    list-style: none;
}

ul li img {
    width: 100px;
    cursor: pointer;
}

ul, #main-image {
    float: left;
}

/* #main-image {
    width: 500px;
} */

#main-image img {
    width: 412px;
    margin-top: 28px;
    margin-left: 50px;
}